{% extends 'master.html' %} 

{% block title %}
<title>About</title>
{% endblock title %} 


{% block content %}
  <h2 class="text-center text-danger">About us</h2>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto quo
  provident voluptatum distinctio ex? Tempora cum dolore repudiandae quibusdam
  illum libero, nam debitis, animi, nobis repellendus voluptates minus ullam
  doloribus! Sed hic tempora quo esse est quas cupiditate, nihil, dolorem,
  perspiciatis nesciunt animi vero! Fugiat ut voluptate accusamus, non
  praesentium modi temporibus nisi optio quia ullam eius necessitatibus, ea
  nihil! Eius assumenda quasi cum impedit voluptatibus incidunt veritatis ipsum
  molestiae. Eius nostrum maxime atque reprehenderit beatae nesciunt non animi
  corporis enim, ducimus, aspernatur odio dolorum corrupti ullam. Assumenda,
  dolores nesciunt?
</p>


<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet minima, tenetur iste eum dolore dolorum architecto placeat ipsa harum odio, illo quos animi eligendi vel odit velit. Laborum, repudiandae aliquid.
Vel a id voluptatibus error explicabo molestias excepturi, harum eos qui iste pariatur accusamus repudiandae ea doloremque. Dolor porro praesentium id similique repellat sint vero molestias omnis magni laboriosam! Delectus!</p>

{% endblock content %}
